h1 {
    text-align: center;
    color: green;
}

.table-header {
               background-color: yellow;
               border: 3px solid black;
               text-align: center;
               font-weight: bolder;
               font-size: 16px;
               padding: 5px;
               border-width: 2.7px;
}

.table-layout {
               border-style: none dotted dotted dotted;
               border-color: blue;
               border-top-color: black;
               text-align: center;
               width: 20%;
               font-size: small;
               padding: 5px;
               border-width: 2.7px;
}               

.table {
        width: 650px;
        margin: auto;
}

.collapse {
           border-collapse: collapse;
}

.high-color {
             color: red;
}

.low-color {
            color: blue;
}

.table-layout2 {
               border-style: dotted;
               border-color: blue;
               border-top-color: black;
               text-align: center;
               width: 20%;
               font-size: small;
               padding: 5px;
               border-width: 2.7px
}  
 
.body {
       font-family: Verdana;
}
